.block{
    font-size: 14px;
    border-bottom: 1px solid #C0C0C0;
    margin: 5px 0px 25px 0;
    padding: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
    a{
        text-decoration: none;
    }
}
@media (max-width: 980px) {
    .block{
        margin-bottom: 10px;
    }
}